
<app-encabezado titulo="Disponibilidad" icono="list"></app-encabezado>



<!-- <ion-content>
  <ion-text color="primary">
    <h3 *ngIf="usuario===''" ></h3>
    <h3 *ngIf="usuario!==''" >Bienvenido {{usuario}} !! a continuación la lista de los uberduoc disponibles</h3>
  </ion-text>
  <ion-list class="animate__animated animate__backInLeft animate__fast" >
    <ion-list *ngFor="let per of personas; let i=index" >
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="per.srcimagen"/>
        </ion-avatar>
        <ion-label>{{i+1}} ▷ {{per.nombre}} {{per.apellido}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content> -->



<ion-item>
  <ion-label position="floating">Destinos Posibles</ion-label>
  <ion-input type="text" placeholder="Ej :Concepción centro, puerto Talcahuano, etc" #txtDestinos></ion-input>
</ion-item>

<div *ngIf=nombre>
  <ion-text color="secondary">
    <h1 class="ion-text-center">{{destinos}}</h1>
  </ion-text>
  <ion-text color="secondary">
    <h1 class="ion-text-center">{{nombre}}</h1>
  </ion-text>
</div>

<ion-button (click)="buscar(txtDestinos)">
  <ion-icon slot="icon-only" name="search"></ion-icon>
</ion-button>



  <ion-button (click)="onClick()" expand="block">
    Cerrar Sesión routerLink="../home" 
  </ion-button>




<ion-img class="animate__animated animate__backInLeft" src="../assets/images/te-llevo-app.png"></ion-img> 
