
<app-encabezado titulo="Disponibilidad" icono="list"></app-encabezado>



<!-- <ion-content>
  <ion-text color="primary">
    <h3 *ngIf="usuario===''" ></h3>
    <h3 *ngIf="usuario!==''" >Bienvenido {{usuario}} !! a continuación la lista de los uberduoc disponibles</h3>
  </ion-text>
  <ion-list class="animate__animated animate__backInLeft animate__fast" >
    <ion-list *ngFor="let per of personas; let i=index" >
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="per.srcimagen"/>
        </ion-avatar>
        <ion-label>{{i+1}} ▷ {{per.nombre}} {{per.apellido}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content> -->


<!-- 
<ion-item>
  <ion-label position="floating">Destinos Posibles</ion-label>
  <ion-input type="text" placeholder="Ej :Concepción centro, puerto Talcahuano, etc" #txtDestinos></ion-input>
</ion-item>
 -->
<!-- <div *ngIf=>
  <ion-text color="secondary">
    <h1 class="ion-text-center">Destino : {{destinos}}</h1>
  </ion-text>
  <ion-text color="secondary">
    <h1 class="ion-text-center">Nombre : {{nombre}}</h1>
  </ion-text>
  <ion-text color="secondary">
    <h1 class="ion-text-center">Patente : {{patente}}</h1>
  </ion-text>
  <ion-text color="secondary">
    <h1 class="ion-text-center">Fono : {{fono}}</h1>
  </ion-text>
</div> -->

<!-- <ion-content class="ion-padding">
  <ion-list *ngFor="let via of categoria ; let i=index">
    <ion-item>
      <ion-label>{{via.patente}}</ion-label> 
    </ion-item>
  </ion-list>
</ion-content> -->

<div>
  <button routerLink="../mapita"> Gestiona Tu viaje</button>
</div>
 
  

 
<!-- 
 <ion-button (click)="txtDestinos">
   <ion-icon slot="icon-only" name="list"></ion-icon>
 </ion-button> -->


<!-- 
  <ion-button (ngOnInit)="ngOnInit()" slot="icon-only" name="search" expand="block">
    Cerrar Sesión routerLink="../home" 
  </ion-button> -->

<!-- <ion-button (click)="listar()" slot="end" >
  <ion-icon slot="end" name="list"></ion-icon>
</ion-button> -->


<ion-img class="animate__animated animate__backInLeft" src="../assets/images/te-llevo-app.png"></ion-img> 
